
<section class="page-content">
    <div class="container text-center">
        <h1>Thank You!</h1>
        <p class="lead">Your message has been sent successfully. We'll get back to you as soon as possible.</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</section>
